@model WebMvc.Models.MenuItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAccess)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
