@page "/data"

@using View_Data_Binding.Data
@inherits Customer

<h3>Data Extraction</h3>

<table class="table">
    <tr>
        <th>Address:</th>
        <td><input class="form-control" type="text" @bind="Address" /></td>
    </tr>
    <tr>
        @{
            string vill = String.Empty, Para = String.Empty, Dist = String.Empty, Pin = String.Empty, PS = String.Empty;
            if(!string.IsNullOrWhiteSpace(Address))
            {
                string[] FullAdd = Address.Split(",");

                vill = (FullAdd.Length > 0) ? $"Vill: {FullAdd[0]} " : "";
                Para = (FullAdd.Length > 1) ? $"Para: {FullAdd[1]} " : "";
                Dist = (FullAdd.Length > 2) ? $"Dist: {FullAdd[2]} " : "";
                Pin = (FullAdd.Length > 3) ? $"Pin: {FullAdd[3]} " : "";
                PS = (FullAdd.Length > 4) ? $"P.S.: {FullAdd[4]} " : "";
            }
        }
        <th>Typed Address:</th>
        <td>
            @vill<br/>
            @Para<br/>
            @Dist<br/>
            @Pin<br/>
            @PS<br/>
        </td>
    </tr>
    <tr>
        <th>Find out Natural Numbers:</th>
        <td><input class="form-control" type="text" @bind="Number" placeholder="Number" /></td>
    </tr>
    <tr>
    <th>Sum of N Natural Numebrs:</th>
    <td>
        @if (Number > 0)
            @SumOfN
        </td>
    </tr>
    <tr>
        <th>Sum of N Even Numebrs:</th>
        <td>
            @if (Number > 0)
            @SumOfNEven
        </td>
    </tr>
    <tr>
        <th>Sum of N Odd Numebrs:</th>
        <td>
            @if (Number > 0)
            @SumOfNOdd
        </td>
    </tr>
</table>

 @code {}