@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<h3 class="display-5">LifeTime Service With Dependency Injection:</h3>

<div class="text-center">
    <h3 class="display-6">Controller Operations</h3>
    <p>
        <strong>Transient:</strong>
        @ViewBag.Transient.OperationId
    </p>
    <p>
        <strong>Scoped:</strong>
        @ViewBag.Scoped.OperationId
    </p>
    <p>
        <strong>Singleton:</strong>
        @ViewBag.Singleton.OperationId
    </p>
    <p>
        <strong>Instance:</strong>
        @ViewBag.SingletonInstance.OperationId
    </p>
</div>

<div class="text-center">
    <h3 class="display-6">OperationService Operations</h3>
    <p>
        <strong>Transient:</strong>
        @ViewBag.Service.TransientOperation.OperationId
    </p>
    <p>
        <strong>Scoped:</strong>
        @ViewBag.Service.ScopedOperation.OperationId
    </p>
    <p>
        <strong>Singleton:</strong>
        @ViewBag.Service.SingletonOperation.OperationId
    </p>
    <p>
        <strong>Instance:</strong>
        @ViewBag.Service.SingletonInstanceOperation.OperationId
    </p>
</div>


