@model CRUD_Web_1.Models.Customer
@{
    ViewBag.Title = "Update Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container card w-50">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.CustomerID)
                <div class="mb-3">
                    @Html.LabelFor(model => model.Name, new { @class = "form-label", @for = "uName" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "uName", @placeholder = "Full name" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.EmailID, new { @class = "form-label", @for = "uEmail" })
                    @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", @id = "uEmail", @type = "email", placeholder = "Email Id" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Mobileno, new { @class = "form-label", @for = "uMobile" })
                    @Html.TextBoxFor(model => model.Mobileno, new { @class = "form-control", @id = "uMobile", @type = "tel", placeholder = "Mobile No." })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Birthdate, new { @class = "form-label", @for = "uDob" })
                    @*@Html.TextBoxFor(model => model.Birthdate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "uDob", @type = "date" })*@
                    @*@Html.EditorFor(model => model.Birthdate, new { @class = "form-control" })*@
                    @*@Html.TextBoxFor(model => model.Birthdate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "uDob", @type = "date" })*@
                    @Html.TextBoxFor(model => model.Birthdate, "{0:MM/dd/yyyy}", new { @class = "form-control"})
                    @*@Html.ValidationMessageFor(model => model.Birthdate)*@
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Address, new { @class = "form-label", @for = "uAddress" })
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @id = "uAddress", placeholder = "Address..." })
                </div>
                <p>
                    <input class="btn btn-info btn-primary" type="submit" value="Save" />
                    @Html.ActionLink("View", "Details", new { id = Model.CustomerID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
                </p>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    @*$(document).ready(function () {
        $('#uDob').datepicker({
            dateFormat: "dd/mm/yy",
            showStatus: true,
            showWeeks: true,
            currentText: 'Now',
            autoSize: true,
            gotoCurrent: true,
            showAnim: 'blind',
            highlightWeek: true
        });
    });*@
</script>