@model Web.Models.Customer
@{
    ViewBag.Title = "Show All Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a href="/Customer/Insert" class="btn btn-primary" role="button" aria-pressed="true">Create Customer</a>

    <table class="table mt-5">
        <thead class="thead-dark text-center">
            <tr class="text-center">
                <th scope="col">Action</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.EmailID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Mobileno)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Birthdate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
            </tr>
        </thead>

        @foreach (var item in Model.ShowallCustomer)
        {
            <tr>
                <th scope="row">
                    @Html.ActionLink("Modify", "Edit", new { id = item.CustomerID }) &ensp;|&ensp;
                    @Html.ActionLink("Detail", "Details", new { id = item.CustomerID }) &ensp;|&ensp;
                    @Html.ActionLink("Remove", "Delete", new { id = item.CustomerID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                </th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailID)</td>
                <td>@Html.DisplayFor(modelItem => item.Mobileno)</td>
                <td>@Html.DisplayFor(modelItem => item.Birthdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    if ('@TempData["ForCreate"]' != '')
        alert('@TempData["ForCreate"]');

    else if ('@TempData["ForUpdate"]' != '')
        alert('@TempData["ForUpdate"]');

    else if ('@TempData["ForDelete"]' != '')
        alert('@TempData["ForDelete"]');
</script>